<% provide(:title, "About") %>

        <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About Me</h1>
                <p>My name is Tim Fleming. I'm a professional web developer with knowledge of the full stack. I’ve spent a number of years developing brochure websites for small and medium-sized businesses, but for the past year my focus has been on modern programming languages and web technologies, including Ruby, Python, JavaScript, Flask, Rails, Node.js, Express.js, MongoDB/PostgreSQL, and Bootstrap.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Spare a Few Minutes?</h2>
                    <p> If So, Drop Me a Line.</p>
                    <a href="#" class="btn btn-default btn-lg">Visit Comments Page</a>
                </div>
            </div>
        </div>
    </section>