   <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Welcome to Tim's Corner</h1>
                        <p class="intro-text">A Ruby on Rails app and blog detailing my adventures in web development.</p>
                        <%= link_to "Log In", login_path, class: "btn btn-default btn-lg" %>
                        <%= link_to "Sign Up", signup_path, class: "btn btn-default btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </header>

  </body>
</html>
