    <!-- Footer -->
    <footer class="footer">
        <small>
            <p>Tim's Corner Website by Tim Fleming</p>
        </small>
        <nav>
          <ul>
            <li>
              <li><%= link_to "About",    about_path %></li>
            </li>
            <li>
              <li><%= link_to "Contact",    contact_path %></li>
            </li>
            <li>
              <li><%= link_to "Blog",    "#" %></li>
            </li>
          </ul>
        </nav>
    </footer>