    <!-- Footer -->
    <footer>
      <nav class="text-center">
          <ul>
            <li>
              <li><%= link_to "About Me",    about_path %> |</li>
            </li>
              <li>
                <li><%= link_to "Contact",    contact_path %></li>
              </li>
            </ul>
      </nav>
        <div class="container text-center">
            <p>Copyright &copy; Tim's Corner 2016</p>
        </div>
    </footer>